# **Application Train**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('C:/Users/Lenovo/Downloads/PBI/Home Credit/application_train.csv')
pd.set_option('display.max_columns', None)
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.shape

(307511, 122)

In [3]:
pd.set_option('display.max_columns', None)

# Select columns with object data types and store them in the 'categoric' variable
categoric = df.select_dtypes('object')

# Select columns with numeric data types and store them in the 'numeric' variable
numeric = df.select_dtypes('number')

# Determine the number of rows and columns
rows = df.shape[0]
cols = df.shape[1]

# Print the shape of the DataFrame
print(f'Number of Rows: {rows}\nNumber of Columns: {cols}')

# Print a sample of 6 rows from the DataFrame
print('\nSample Data:')
display(df.sample(6))

# Print summary statistics for categorical data
print('\nSummary Statistics for Categorical Data:')
display(categoric.describe().T)

# Print summary statistics for numerical data
print('\nSummary Statistics for Numerical Data:')
display(numeric.describe().T)

# Define categorical_col and numerical_col before printing
categorical_col = categoric.columns.tolist()  # Get the list of categorical columns
numerical_col = numeric.columns.tolist()      # Get the list of numerical columns

Number of Rows: 307511
Number of Columns: 122

Sample Data:

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
142450,265167,0,Cash loans,F,N,Y,0,180000.0,599778.0,26550.0,477000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.003813,-23770,365243,-3805.0,-4746,NaN,1,0,0,1,0,0,NaN,2.0,2,2,MONDAY,6,0,0,0,0,0,0,XNA,NaN,0.229660,0.558507,0.0639,0.0629,0.9796,0.7212,0.1073,0.0,0.1379,0.1667,0.0417,0.0175,0.0504,0.0532,0.0077,0.0273,0.0651,0.0653,0.9796,0.7321,0.1082,0.0,0.1379,0.1667,0.0417,0.0179,0.0551,0.0555,0.0078,0.0289,0.0645,0.0629,0.9796,0.7249,0.1079,0.0,0.1379,0.1667,0.0417,0.0178,0.0513,0.0542,0.0078,0.0279,reg oper spec account,block of flats,0.0478,Panel,No,3.0,1.0,3.0,1.0,-2183.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
126239,246394,0,Cash loans,F,N,Y,1,54000.0,284400.0,13387.5,225000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.019689,-16651,-1192,-3269.0,-195,NaN,1,1,0,1,0,0,Sales staff,3.0,2,2,TUESDAY,10,0,0,0,0,1,1,Self-employed,NaN,NaN,0.394495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-445.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
198792,330485,0,Cash loans,F,N,Y,0,157500.0,505066.5,31027.5,468000.0,Family,Working,Secondary / secondary special,Civil marriage,House / apartment,0.018801,-9923,-785,-4160.0,-2426,NaN,1,1,0,1,0,0,NaN,2.0,2,2,SUNDAY,9,0,0,0,0,1,1,Business Entity Type 3,0.129928,0.492491,0.581484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1457.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
94953,210259,0,Cash loans,F,N,Y,0,202500.0,539100.0,27522.0,450000.0,Unaccompanied,Working,Higher education,Single / not married,House / apartment,0.046220,-15087,-2093,-1210.0,-4075,NaN,1,1,1,1,0,0,Laborers,1.0,1,1,WEDNESDAY,9,0,1,1,0,1,1,Industry: type 3,0.589344,0.621063,0.672243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-824.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
20289,123675,0,Cash loans,F,N,N,0,247500.0,432220.5,33579.0,400500.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.003818,-11555,-1316,-4955.0,-4136,NaN,1,1,0,1,0,0,Realty agents,2.0,2,2,TUESDAY,9,0,0,0,0,0,0,Other,NaN,0.492622,NaN,0.0082,NaN,0.9767,NaN,NaN,NaN,0.0345,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0084,NaN,0.9767,NaN,NaN,NaN,0.0345,0.0417,NaN,NaN,NaN,0.0065,NaN,NaN,0.0083,NaN,0.9767,NaN,NaN,NaN,0.0345,0.0417,NaN,NaN,NaN,0.0064,NaN,NaN,NaN,block of flats,0.0049,Others,No,3.0,0.0,3.0,0.0,-207.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
274911,418638,0,Cash loans,F,N,Y,0,135000.0,619965.0,17896.5,517500.0,Unaccompanied,Working,Lower secondary,Married,Municipal apartment,0.031329,-23041,-1006,-14707.0,-4702,NaN,1,1,0,1,0,0,Cleaning staff,2.0,2,2,TUESDAY,11,0,0,0,0,0,0,Other,NaN,0.687971,0.196334,0.0619,0.0368,0.9796,NaN,NaN,0.0,0.1034,0.1667,NaN,0.0453,NaN,0.0516,NaN,0.0000,0.0630,0.0382,0.9796,NaN,NaN,0.0,0.1034,0.1667,NaN,0.0464,NaN,0.0538,NaN,0.0000,0.0625,0.0368,0.9796,NaN,NaN,0.0,0.1034,0.1667,NaN,0.0461,NaN,0.0525,NaN,0.0000,NaN,block of flats,0.0424,Panel,No,0.0,0.0,0.0,0.0,-794.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0

Summary Statistics for Categorical Data:

,count,unique,top,freq
NAME_CONTRACT_TYPE,307511,2,Cash loans,278232
CODE_GENDER,307511,3,F,202448
FLAG_OWN_CAR,307511,2,N,202924
FLAG_OWN_REALTY,307511,2,Y,213312
NAME_TYPE_SUITE,306219,7,Unaccompanied,248526
NAME_INCOME_TYPE,307511,8,Working,158774
NAME_EDUCATION_TYPE,307511,5,Secondary / secondary special,218391
NAME_FAMILY_STATUS,307511,6,Married,196432
NAME_HOUSING_TYPE,307511,6,House / apartment,272868
OCCUPATION_TYPE,211120,18,Laborers,55186
WEEKDAY_APPR_PROCESS_START,307511,7,TUESDAY,53901
ORGANIZATION_TYPE,307511,58,Business Entity Type 3,67992
FONDKAPREMONT_MODE,97216,4,reg oper account,73830
HOUSETYPE_MODE,153214,3,block of flats,150503
WALLSMATERIAL_MODE,151170,7,Panel,66040
EMERGENCYSTATE_MODE,161756,2,No,159428

Summary Statistics for Numerical Data:

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,307511.0,278180.518577,102790.175348,100002.0,189145.5,278202.0,367142.5,456255.0
TARGET,307511.0,0.080729,0.272419,0.0,0.0,0.0,0.0,1.0
CNT_CHILDREN,307511.0,0.417052,0.722121,0.0,0.0,0.0,1.0,19.0
AMT_INCOME_TOTAL,307511.0,168797.919297,237123.146279,25650.0,112500.0,147150.0,202500.0,117000000.0
AMT_CREDIT,307511.0,599025.999706,402490.776996,45000.0,270000.0,513531.0,808650.0,4050000.0
...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,265992.0,0.007000,0.110757,0.0,0.0,0.0,0.0,9.0
AMT_REQ_CREDIT_BUREAU_WEEK,265992.0,0.034362,0.204685,0.0,0.0,0.0,0.0,8.0
AMT_REQ_CREDIT_BUREAU_MON,265992.0,0.267395,0.916002,0.0,0.0,0.0,0.0,27.0
AMT_REQ_CREDIT_BUREAU_QRT,265992.0,0.265474,0.794056,0.0,0.0,0.0,0.0,261.0
AMT_REQ_CREDIT_BUREAU_YEAR,265992.0,1.899974,1.869295,0.0,0.0,1.0,3.0,25.0

In [5]:
dfe = df.copy()
# Check duplicated value
duplicate_rows = dfe.duplicated()

# display number of duplicated row
print(f"number of duplicated row: {duplicate_rows.sum()}")

# Function to display columns contain nilai missing
def check_nan(dfe):
    null_values = dfe.isnull().sum()

    # create DataFrame for total and percentage of null 
    nvc = pd.DataFrame(null_values[null_values > 0].sort_values(), columns=['Total Null Values'])  
    nvc['Percentage'] = (nvc['Total Null Values'] / dfe.shape[0]) * 100
    nvc["Data Type"] = [dfe[col].dtype for col in nvc.index]  

    # order by total and percentage of null value 
    nvc.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)

    # show result
    return nvc.style.background_gradient(cmap='Blues')

styled_result = check_nan(dfe)

styled_result

number of duplicated row: 0

In [6]:
# 1. Drop columns with more than 50% missing values
missing_threshold = 0.5
cols_to_drop = dfe.columns[dfe.isnull().mean() > missing_threshold]
dfe.drop(columns=cols_to_drop, inplace=True)

# 2. Impute numeric columns with 10% - 50% missing values using the median
num_cols = dfe.select_dtypes(include=['float64', 'int64']).columns
for col in num_cols:
    missing_pct = dfe[col].isnull().mean()
    if 0.1 < missing_pct <= 0.5:
        dfe[col].fillna(dfe[col].median(), inplace=True)

# 3. Impute categorical columns with 10% - 50% missing values using the mode
cat_cols = dfe.select_dtypes(include='object').columns
for col in cat_cols:
    missing_pct = dfe[col].isnull().mean()
    if 0.1 < missing_pct <= 0.5:
        dfe[col].fillna(dfe[col].mode()[0], inplace=True)

# 4. Impute columns with less than 10% missing values
for col in dfe.columns:
    if dfe[col].isnull().mean() <= 0.1:
        if dfe[col].dtype == 'object':
            dfe[col].fillna(dfe[col].mode()[0], inplace=True)
        else:
            dfe[col].fillna(dfe[col].median(), inplace=True)

# 5. Check the final result
# Call the function and store the result
styled_result = check_nan(dfe)

# To display the result in a Jupyter Notebook, use:
styled_result

1. Drop columns with more than 50% missing values:
Columns with over half of their data missing are likely to lack sufficient information for meaningful analysis, and therefore are removed to maintain data quality.

2. Impute numeric columns with 10–50% missing values using the median:
The median is robust to outliers, making it a safer choice for imputing missing values in skewed numerical distributions without distorting the data.

3. Impute categorical columns with 10–50% missing values using the mode:
Using the mode preserves the dominant category in the data, maintaining the original distribution and reducing the risk of introducing bias.

4. Impute columns with less than 10% missing values using median/mode:
When the percentage of missing values is low, imputation using the median (for numerical) or mode (for categorical) can be done directly with minimal impact on the overall data structure.

In [7]:
# Copy the original DataFrame to a variable before cleaning
main = dfe.copy()

# Perform data cleaning on dfe
# (for example, dropping document-related columns as done previously)
main_cleaned = dfe.drop(columns=[
    'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'
])

# Check the shape of the data before and after cleaning
print(f'Application training data before cleaning: {df.shape[0]} rows and {df.shape[1]} columns')
print(f'Application training data after cleaning: {main_cleaned.shape[0]} rows and {main_cleaned.shape[1]} columns')

Application training data before cleaning: 307511 rows and 122 columns
Application training data after cleaning: 307511 rows and 61 columns

In [8]:
main_cleaned.sample(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
188681,318743,1,Cash loans,F,N,Y,0,103500.0,562500.0,21924.0,562500.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.026392,-20987,-1659,-339.0,-4025,1,1,0,1,1,0,Cleaning staff,1.0,2,2,MONDAY,13,0,0,0,0,0,0,Housing,0.625960,0.313917,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30201,135056,0,Cash loans,F,N,Y,1,135000.0,545040.0,26640.0,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.031329,-13314,-118,-2228.0,-3202,1,1,0,1,0,0,Sales staff,3.0,2,2,THURSDAY,13,0,0,0,0,0,0,Trade: type 6,0.584601,0.579727,0.9965,0.3750,0.9965,0.3750,0.9965,0.3750,0.2325,No,0.0,0.0,0.0,0.0,-1730.0,0.0,0.0,0.0,0.0,1.0,4.0
241786,379947,0,Cash loans,F,N,Y,0,90000.0,326664.0,15844.5,234000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.006852,-22068,365243,-4918.0,-2291,1,0,0,1,0,0,Laborers,2.0,3,3,FRIDAY,10,0,0,0,0,0,0,XNA,0.320344,0.612704,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,2.0,1.0,2.0,1.0,-967.0,0.0,0.0,0.0,0.0,2.0,12.0
112133,230088,1,Cash loans,F,N,Y,0,135000.0,808650.0,26217.0,675000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.004849,-21445,-2384,-1027.0,-3457,1,1,0,1,0,0,High skill tech staff,1.0,2,2,WEDNESDAY,13,0,0,0,0,0,0,Transport: type 4,0.070546,0.399676,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-191.0,0.0,0.0,0.0,0.0,0.0,0.0
169355,296290,0,Revolving loans,M,Y,N,1,90000.0,270000.0,13500.0,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.008575,-15912,-2005,-2244.0,-4471,1,1,0,1,0,0,Laborers,3.0,2,2,TUESDAY,16,0,0,0,0,0,0,Industry: type 11,0.624664,0.535276,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-1780.0,0.0,0.0,0.0,0.0,0.0,1.0
202344,334567,0,Cash loans,F,N,Y,2,130500.0,382500.0,18733.5,382500.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,0.028663,-15279,-3007,-6194.0,-4102,1,1,0,1,1,0,Low-skill Laborers,3.0,2,2,TUESDAY,7,0,0,0,0,1,1,Business Entity Type 2,0.532457,0.059227,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-1678.0,0.0,0.0,0.0,0.0,2.0,4.0
283966,428862,0,Cash loans,M,Y,N,0,225000.0,900000.0,26316.0,900000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.015221,-16348,-2786,-8534.0,-1735,1,1,1,1,1,0,Laborers,2.0,2,2,MONDAY,16,0,0,0,0,1,1,Business Entity Type 3,0.543539,0.422370,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,1.0,0.0,1.0,0.0,-692.0,0.0,0.0,0.0,0.0,0.0,4.0
193,100225,0,Cash loans,M,Y,N,2,157500.0,720000.0,28552.5,720000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,With parents,0.030755,-14144,-4516,-1516.0,-4616,1,1,0,1,1,0,Sales staff,4.0,2,2,THURSDAY,10,0,0,0,0,1,1,Self-employed,0.722178,0.634706,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-1450.0,0.0,0.0,0.0,0.0,0.0,2.0
142561,265303,0,Cash loans,M,N,Y,0,72000.0,177768.0,11488.5,135000.0,Family,State servant,Secondary / secondary special,Single / not married,With parents,0.028663,-12837,-1845,-6627.0,-4980,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,12,0,0,0,0,0,0,Agriculture,0.429412,0.511892,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-2056.0,0.0,0.0,0.0,0.0,1.0,3.0
57031,166101,0,Cash loans,M,N,N,0,135000.0,130644.0,6484.5,85500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.020246,-19953,-3428,-4680.0,-3496,1,1,0,1,0,0,Low-skill Laborers,2.0,3,3,FRIDAY,12,0,0,0,0,0,0,Industry: type 11,0.405308,0.581484,0.9816,0.1667,0.9816,0.1667,0.9816,0.1667,0.0688,No,0.0,0.0,0.0,0.0,-1703.0,0.0,0.0,0.0,0.0,0.0,5.0

In [10]:
main_cleaned.to_csv('C:/Users/Lenovo/Downloads/PBI/Home Credit/application_train_cleaned.csv', index=False)